li {
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
}

.botname {
  position: relative;
  float: left;
  font-weight: bold;
  width: 40%;
}

button {
  position: relative;
  float: left;
  width: 25%;
}

.botStatus {
  position: relative;
  float: left;
  font-style: italic;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 4px;
  background-color: red;
}
